/*** start Contact Form Section ***/
.form-container:after {
    content: "";
    display: block;
    clear: both;
    width: 50;
    
}
.form-container {
    width: 45%;
    margin: 0 auto;
    float: left;
    padding: 2.5%; 2.5%; 0;
}

.map-container {
    width: 50%;
    float: left;
}
/*** End Contact Form section ***/

/*** Start Info Section Styles ***/

.info-container {
    padding: 20px; 0px; 
}

.info-box {
    float: left;
    width: 50%;
    text-align: center;
}

/*** End Info Section Styles ***/